{% extends "base.html" %}

{% block title %}SGE - Produtos{% endblock title %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Apagar da Produto</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza de que deseja excluir o produto <strong>{{ object.title }}</strong>?</p>
            <form method="post" class="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Apagar</button>
            </form>
        </div>
    </div>

    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de Produtos</a>
</div>

{% endblock content %}