{% extends "base.html" %}

{% block title %}SGE - Dashboard{% endblock title %}

{% block content %}
    {% include "components/_product_metrics.html" %}
    {% include "components/_sales_metrics.html" %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 text-center">
            <h5 class="text-center mb-3">Valor de vendas (Últimos 7 dias)</h5>
            <canvas id="dailySalesChart"></canvas>
        </div>

        <div class="col-md-6 text-center"></div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var dailySalesData = JSON.parse('{{ daily_sales_data|safe }}');

                var ctxDailySales = document.getElementById('dailySalesChart').getContext('2d');

                var dailySalesChart = new Chart(ctxDailySales, {
                    type: 'line',
                    data: {
                        labels: dailySalesData.dates,
                        datasets: [{
                            label: 'Valor em vendas',
                            data: dailySalesData.values,
                            fill: false,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2,
                            tension: 0.5
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                })
            });
        </script>
    </div>
{% endblock content %}